body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}

input{
    width: 200px;
    font-size: large;
    outline:none;
}

.container{
    background-color: aquamarine;
    border-radius: 5px;
    text-align: center;

}

.header{
    text-align: center;
    background-color: rgb(238, 236, 235);
    padding:5px;
    border-radius: 5px;
    
}

.body{
    margin: 0px 20px;
}

.copy{
    background-color:greenyellow;
    border:none;
    border-radius: 5px;
    margin: 10px;
    width:120px;
    height:40px;
    cursor: pointer;
    transition: 1 ease;
}

.copy:active{
    transform: scale(0.95);
}
